doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    title My Site
    include ./jade_parts/_head.jade
  body
    include ./jade_parts/_header.jade
    include ./jade_parts/_content.jade
    include ./jade_parts/_footer.jade
    script(src='js/app.js')
  
